.converter{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 430px;
    padding-top: 20px;
    padding-left: 20px;
}
.inputGroup{
    display: inline-block;
    position: relative;
}
.divider{
    width: 3px;
    height: 56px;
    background-color: rgb(116, 116, 116);
    position: absolute;
    top: 0;
    left: calc(50% - 2px);
    z-index: 1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide arrows in Edge */
input[type="number"] {
  -ms-appearance: none;
}